@font-face {
  font-family: 'Kayak Sans';
  src: url('fonts/Kayak Sans Regular.otf');
}

$font-family-global: 'Kayak Sans', sans-serif;

$clr-white: #ffffff; // section-bg, footer-text, button-text
$clr-black: #000000; // text-color
$clr-bg-gray: #f4f5f7; // section-bg 
$clr-bg-footer: #262626; //footer-bg
$clr-text-input: #585858; //input-text-color

$clr-main: #5fb709; // lead-text, button-bg 

$breakpoint-large: 1500px;
$breakpoint-medium-large: 1200px;
$breakpoint-medium: 900px;
$breakpoint-medium-small: 700px;
$breakpoint-small: 500px;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	position: relative;
	z-index: 1;
	font-family: 'Kayak Sans', sans-serif;
	color: $clr-black;
	background-color: $clr-bg-gray;
	font-size: 21px;
	padding-top: 0;
}



h2 {
	font: 5rem/7rem $font-family-global;
	font-weight: 700;
	letter-spacing: -1px;
	margin: 0 0 50px;

	@media (max-width: $breakpoint-large) {
		font-size: 4rem;
		line-height: 5rem;
	}
	@media (max-width: $breakpoint-medium) {
		font-size: 3.5rem;
		line-height: 4rem;
	}
	@media (max-width: $breakpoint-small) {
	  // font-size: 2.5rem;
	  // line-height: 3rem;
	  margin-bottom: 45px;
	}
	@media (max-width: 400px) {
		margin-bottom: 35px;
	}
	@media (max-width: 350px) {
		margin-bottom: 30px;
	}
}


h3 {
	font: 4rem/5.1rem $font-family-global;
	font-weight: 700;
	letter-spacing: -1px;
	margin: 0 0 25px;

	@media (max-width: $breakpoint-large) {
		font-size: 3.5rem;
		line-height: 4.5rem;
	}
	@media (max-width: $breakpoint-medium) {
		font-size: 3rem;
		line-height: 4rem;
	}
	@media (max-width: $breakpoint-small) {
	  font-size: 2rem;
	  line-height: 3rem;
	}
}

h4 {
	font: 3.5rem/7rem $font-family-global;
	font-weight: 700;
	letter-spacing: -1px;
	margin: 0 0 25px;

	@media (max-width: $breakpoint-large) {
		font-size: 3rem;
		line-height: 6rem;
	}
	@media (max-width: $breakpoint-medium) {
		font-size: 2.5rem;
		line-height: 5rem;
	}
	@media (max-width: $breakpoint-small) {
	  font-size: 2rem;
	  line-height: 4rem;
	}
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

p, ul, ol, dl, table, hr, pre, blockquote {
	margin: 0 0 35px;
	line-height: 2.6rem;
}

form {
	margin-bottom: 50px;
}

input, textarea, select {
	outline: none;
}

input, 
textarea {
	font-size: 1.6rem;
	color: $clr-text-input;
	padding: 15px 35px;
	border: none;
}

input:not([type="submit"]),
textarea {
	background-color: $clr-white;
	border-radius: 10px;
	border: 1px solid #9b9a9a;
}

input[type="submit"] {
	background-color: $clr-main;
	color: $clr-white;
	font-size: 2.3rem;
	border-radius: 10px;
	padding: 20px 45px;
}

textarea {
	resize: none;
}

header {
	// padding: 200px 0;
	transform: skew(0deg, -11.77deg);
	background-color: $clr-bg-gray;
}

footer {
	padding-top: 180px;
	padding-bottom: 20px;
	background-color: $clr-bg-footer;
	position: relative;
	z-index: 3;

	& .container {
		transform: skew(0deg, 0deg);
	}
}

section {
	padding: 400px 0;
	transform: skew(0deg, -11.77deg);
	position: relative;
	z-index: 1;

	&:nth-of-type(even) {
		background-color: $clr-bg-gray;
	}

	&:nth-of-type(odd) {
		background-color: $clr-white;
	}

	& > * {
	transform: skew(0deg, 11.77deg);
	}
}

// UTILITY CLASS' STYLES
.section1 {
	position: relative;
}
.container {
	// max-width: 90%;
	// width: 100%;
	// padding: 0px 30px;
	max-width: 1577px;
	width: 100%;
	padding: 0px 30px;

	margin: 0 auto;

	transform: skew(0deg, 11.77deg);
	// border-left: 1px solid red;
	// border-right: 1px solid red;
}

@keyframes slideIn {
			0% {
				top: -100%;
			}
			100% {
				top: 0;
			}
		}

.section-1 {
 position: relative;
 padding: 200px 0 50px;

.flexpart1 {
 display: flex;
 flex-wrap:wrap;
 align-items: center;
 position: relative;

 .image {
   @media( max-width: 1252px) {
     margin: 0 auto;
   }
 }

 .burger { 
  padding-left: 10%;
 }

 img {
   max-width: 100%;
   max-height: 100%;
 }

.text {
 	align-items:center;
 	margin: 0 auto; 
 	max-width: 700px;

	  input {
	  	padding: 20px 200px 20px 10px;
        @media( max-width: 900px) {
        margin-bottom: 30px;
   }
        @media( max-width: 430px) {
        padding: 14px 50px; 
   }
        @media( max-width: 350px) {
        padding: 14px 30px;
   }
 }
    .btn {
    	   @media( max-width: 900px) {
    	   	    padding: 3px 7px;
    	   }
    }

	  /*a {
			 border-radius: 10px;
			 border: 1px solid #9b9a9a;;
			 padding: 8px 35px;
			 margin-right: 2px;
			 background-color: #5fb709;
			 color: white;
			 display: inline-block;
			 position: relative;
		}*/
}
}
.leaf {
	position: absolute;
    top: -60px;
    right: 300px;
 }

 &:hover .leaf {
    -webkit-animation: leaftop 2s 1  normal ease-out;
    animation: leaftop 2s 1  normal ease-out;
    @-webkit-keyframes leaftop {
    0% {
        right:0px;
    }
    100% {
        right: 300px;
    }
}
    @media( max-width: 500px) {
    right: 0px;
   }

 }

}
.section-4 {
 position: relative;
 padding: 200px 0;

.flexpart2 {
 display: flex;
 flex-wrap:wrap;
 align-items: center;
 z-index: 4;

 .foodtext {
 	max-width: 700px;
 }

 img {
 	max-width: 100%;
 	max-height: 100%;
 }

 .uber {
 	padding-left: 100px;
   @media( max-width: 500px) {
   padding-left: 0px;
   }
 }
}

 .food1 {
 	position: absolute;
 	left: 325px;
 	bottom: -140px;
 	max-width: 100%;
 	width: 200px;
 	@media( max-width: 1280px) {
    right: 325px;
    left: auto;
 	}
    @media( max-width: 800px) {
    right: 100px;
    bottom: auto;
   }
   @media( max-width: 500px) {
   bottom: -350px;
   }
 }

 .food2 {
   position: absolute;
   bottom: -80px;
   left: 100px;
   max-width: 100%;
   width: 200px;
  @media( max-width: 500px) {
   bottom: -150px;
   }
 }


 .food3 {
   position: absolute;
   top: -50px;
   left: 400px;
   max-width: 100%;
   width: 250px;

   @media( max-width: 1417px) {
   	top: 10px;
   	right: 200px;
   	left: auto;
   }
   @media( max-width: 1280px) {
   right: 200px;
   left: auto;
   top: -220px;
   width: 200px;
   }
   @media( max-width: 500px) {
   right: 50px;
   }
 }

 .line {
 	position: absolute;
    width: 100%;
    max-width: 100%;
    height: auto;
    top: 30%;
    left: 0px;
    z-index: -1;
    @media( max-width: 1700px) {
    top: 30%;
    }
    @media( max-width: 1300px) {
    top: 45%;
    }
    @media( max-width: 500px) {
    top: 60%;
   }
    
 }
  &:hover .food1 {
  	-webkit-animation: foodsa 2s 1  normal ease-out;
    animation: foodsa 2s 1  normal ease-out;
    @-webkit-keyframes foodsa {
    0% {
        bottom: -400px;
    }
    100% {
        bottom: -140px;
    }
}
  }

&:hover .food2 {
  	-webkit-animation: foodsa 2s 1  normal ease-out;
    animation: foodsa 2s 1  normal ease-out;
    @-webkit-keyframes foodsa {
    0% {
        bottom: -400px;
    }
    100% {
        bottom: -80px;
    }
}
  }

&:hover .food3 {
  	-webkit-animation: fooda 2s 1  normal ease-out;
    animation: fooda 2s 1  normal ease-out;
    @-webkit-keyframes fooda {
    0% {
        top: -200px;
    }
    100% {
        top: -50px;
    }
}
  } 
}

.site-header{
	position: relative;
	max-width: 100%;
	z-index: 5;
	
	.header-content{
		padding: 100px 0;
		max-width: 100%;
		position: relative;
		h2{
			max-width: 30%;
			@media (max-width: $breakpoint-medium){
				max-width: 40%;
			}
			@media (max-width: 500px){
				max-width: 60%;
			} 
		}
		span{
			color: $clr-main;
		}
		p{
			max-width: 50%;
			@media (max-width: 500px) {
				max-width: 100%;
			}
		}
	}
	.header-btn{
		@media (max-width: $breakpoint-medium){
			padding: 3px 7px;
		}

	}
	.btn-sign-up{
		position: absolute;
		top: 1%;
		right: 1%;
		z-index: 2		

	}
	
	.header-background{
		position: absolute;
		top: 0;
		right: 0;
		z-index: -1;
		transform: skew(0deg, 11.77deg);
		animation: slideIn 2s ease;

		@media( max-width: 1920px) {
		max-width: 60%;
		}
	}
	.onion{
		position: absolute;
		left: 42%;
		bottom: 2%;
		transform: translate(-42%, -2%) skew(0deg, 11.77deg);
		max-width: 40%;
		@media (max-width: $breakpoint-large){
			max-width: 15%;
		}
		@media (max-width: $breakpoint-medium){
			left: 77%;
		}
		@media (max-width: $breakpoint-small){
			left: 30%;
			bottom: 96%;
		}
	}
}

.btn {
	display: inline-block;
	background-color: $clr-main;
	color: $clr-white;
	font-size: 2.3rem;
	border-radius: 10px;
	padding: 20px 45px;
	margin-bottom: 40px;
	transition: all .4s ease;
	&:hover{
		background-color: #13AE19;
		border-radius: 40px;
	}
}

.text-lead {
	color: $clr-main;
}

.section-2 {
	padding-top: 410px;
	padding-top: calc(410px - 120px);
	padding-bottom: 370px;

	@media (max-width: $breakpoint-medium) {
		padding-top: 330px;
		padding-top: calc(330px - 120px);
		padding-bottom: 720px;
	}

	@media(max-width: $breakpoint-medium-small) {
		// padding-top: 410px;

		padding-bottom: 760px;
	}

	@media (max-width: $breakpoint-small) {
		padding-bottom: 780px;
		padding-top: 300px;
		padding-top: calc(300px - 120px);
	}

	& .section-content {
		position: relative;

		&-text {
			max-width: 700px;

			.img-waves-wide {
				@media(max-width: $breakpoint-medium-small) {
					display: none;
				}
			}
			.img-waves-narrow {
				display: none;
				margin-bottom: 30px;
				@media(max-width: $breakpoint-medium-small) {
					display: block;
				}
			}

			& h2 {
				padding-top: 120px;
			}

			@media(max-width: 1100px) {
				    max-width: 550px;
			}
			@media(max-width: 1000px) {
				    max-width: 500px;
			}
			@media(max-width: $breakpoint-medium) {
				    max-width: 100%;
			}

			.img-waves-small {
				display: none;
				margin-bottom: 35px;

				@media (max-width: 400px) {
					display: block;
				}
			}
		}
	
		& .img {

			&-phone {
		    top: -270px;
        top: calc(-270px + 120px);
				right: 400px;
				max-width: 25%;

				@media(max-width: $breakpoint-large) {
					right: 0;
					max-width: 355px;
				}

				@media(max-width: $breakpoint-medium) {
					top: unset;
				}
				@media(max-width: $breakpoint-medium-small) {
					right: 50%;
					transform: translateX(50%);
					bottom: -690px;
				}
			}

			&-waves {
				top: -150px;
				left: 180px;

				@media(max-width: $breakpoint-large) {
					left: 0;
				}

				@media(max-width: $breakpoint-medium-small) {
					right: 0;
			    bottom: 60px;
			    top: unset;
			    left: unset;
				}

				@media (max-width: 400px) {
					display: none;
				}
			}
		}
	}

	& .img {
		position: absolute;

		&-broken-egg {
	    top: 540px;
  		right: 100px;
  		max-width: 14%;

  		@media(max-width: $breakpoint-large) {
		    max-width: 210px;
		    // right: 45%;
		    // top: unset;
		    // bottom: 45px;
		    // left: 40%;
		    // bottom: 22.5%;
		    // right: 50px;
		    // top: unset;
		    // left: unset;
		    top: 100px;
    		left: 300px;
  		}

  		

  		@media(max-width: $breakpoint-medium) {
  			top: 200px;
    		left: 70%;
  		}
  		@media(max-width: $breakpoint-medium-small) {
		    top: 150px;
  			left: unset;
  			right: 0;
  		}
  		@media(max-width: $breakpoint-small) {
  			max-width: 40%;
  		}
		}

		&-fruit {
	    max-width: 23%;
	    left: -70px;

	    @media(max-width: $breakpoint-large) {
	    	max-width: 345px;
	    }

	    @media(max-width: $breakpoint-medium-small) {
	    	// top: 110px;
	    	top: 60px;
	    }

	    @media (max-width: $breakpoint-small) {
	    	max-width: 60%;
	    }
		}
	}
}

.section-3 {

	@media (max-width: $breakpoint-medium) {
		padding-bottom: 600px;
    padding-top: 250px;
	}

	.img {
		position: absolute;

		&-plate {
			width: 620px;
			max-width: 35.25%;
			top: 100px;

			@media(max-width: $breakpoint-medium) {
				top: unset;
				max-width: 60%;
				// bottom: 10px;
			}
		}

		&-table {
			width: 250px;
			max-width: 14.5%;
			right: 0;
  		bottom: 100px;

  		@media(max-width: $breakpoint-medium) {
				top: unset;
				max-width: 25%;
				bottom: 170px;
			}

			@media(max-width: $breakpoint-medium-small) {
				bottom: 350px;
			}
		}
	}

	.section-content {
		position: relative;
		padding-left: 40%;

		@media(max-width: $breakpoint-medium) {
			padding-left: unset;
		}

		&-text {
			max-width: 700px;
		}

		.img-waves {
			position: static;
			margin-bottom: 30px;
		}

		.img {
			position: absolute;

			&-waves {
				// left: 40%;
				// top: 300px;

				@media(max-width: $breakpoint-medium) {
					top: 0;
					left: unset;
					right: 0;
					top: 40px;
					transform: translateY(-50%);
				}

				@media(max-width: $breakpoint-medium-small) {
					top: -100px;
				}
			}

			&-mushroom {
		   	width: 240px;
    		max-width: 17.5%;
				top: -350px;
				left: 55%;

				@media (max-width: $breakpoint-medium-large) {
					width: 199.5px;
					max-width: unset;
				}

				@media(max-width: $breakpoint-medium) {
					max-width: 24%;
					top: -220px;
    			// left: 60%;
    			left: unset;
    			right: 0;
				}

				@media(max-width: $breakpoint-medium-small) {
					max-width: 28.5%;
					// left: 0;
				}

				@media (max-width: 600px) {
					max-width: unset;
					width: 153.891px;
				}

				@media (max-width: $breakpoint-small) {
					max-width: 34.975%;
				}

				@media (max-width: 400px) {
					max-width: unset;
					width: 118.906px;
				}
			}
		}
	} 
}

.section-5 {
	padding-top: 200px;
	padding-bottom: 450px;

	@media (max-width: $breakpoint-large) {
		padding-bottom: 150px;
	}

	@media (max-width: $breakpoint-medium-small) {
		padding-bottom: 80px;
	}

	@media (max-width: 600px) {
		padding-top: 260px;
	}

	@media(max-width: $breakpoint-small) {
		    padding-bottom: 60px;
	}

	.section-content {
		position: relative;
		padding-left: 40%;
		// border: 1px solid green;

		@media (max-width: 1700px) {
			padding-left: 45%;
		}
		@media (max-width: 1550px) {
			padding-left: 50%;
		}
		@media(max-width: $breakpoint-large) {
			padding-left: 100px;
		}
		@media(max-width: $breakpoint-medium-small) {
			padding-left: 0;
		}

		& .text-content {
			border: 1px solid transparent;

			& .img-waves {
				transform: translateX(-90px);

				@media(max-width: $breakpoint-medium-small) {
					transform: translateX(0px);
				}

				@media (max-width: 600px) {
					position: absolute;
					top: 0;	
					right: 0;	
				}
			}

			& .img-uber-eats-small {
				position: absolute;	
				top: 0;	
				left: 0;	
				display: none;	

				@media(max-width: 600px) {
					display: block;	
				}
			}

			& .content-row {
				display: flex;
				// border: 1px solid red;
				margin-bottom: 80px;

				&:first-of-type {
					margin-top: 100px;
					max-width: 545px;
				}

				&.heading-row {
					@media (max-width: 600px) {
						flex-direction: column;
						margin-top: 137px;	
					}
				}

				& .img-uber-eats {
					width: 118px;
					height: 118px;

					@media(max-width: 600px) {
						display: none;
					}
				}

				& h3 {
					margin-bottom: 0;
					margin-top: 9px;
					margin-left: 40px;

					@media (max-width: 600px) {
				    margin-left: unset;
    				margin-top: unset;
					}
				}

				&.links {
					@media(max-width: 320px) {
						flex-direction: column;
					}
					.app-link {

						& img {
							width: 100%;
						}
						line-height: 0;
						margin-right: 20px;

						@media(max-width: $breakpoint-medium-small) {
							width: 208px;
							max-width: 30%;
							min-width: 160px;
						}
						@media (max-width: 420px) {
							min-width: unset;
							max-width: 45%;
						}
						@media (max-width: 320px) {
							min-width: unset;
							max-width: unset;
							width: 106px;
							margin-bottom: 20px;
						}
					}
				}
			}
		}

		& .img-plate-2 {
			position: absolute;
	    bottom: -230px;
	    right: 470px;

	    @media (max-width: $breakpoint-large) {
	    	bottom: 20%;
    		right: 5%;
	    }
	    @media (max-width: $breakpoint-medium-large) {
	    	right: 0;
    		top: 650px;
	    }
	    @media (max-width: $breakpoint-medium) {
	    	display: none;
	    }
		}

		& .img-spinach {
			position: absolute;
	    right: -100px;
	    top: -190px;

	    @media(max-width: 1800px) {
	    	right: 0;
	    }
	    @media(max-width: $breakpoint-large) {
	    	width: 270px;
	    	max-width: 22%;
	    }
	    @media(max-width: $breakpoint-medium-large) {
	    	width: 249.906px;
	    	max-width: 25%;
	    }
	    @media (max-width: $breakpoint-medium) {
	    	width: 209px;
	    	max-width: 30%;
	    }
	    @media (max-width: 800px) {
  	    top: -210px;
	    }
	    @media (max-width: $breakpoint-medium-small) {
	    	width: 190.797px;
	    	max-width: unset;
	    }
	    @media (max-width: 600px) {
	    	top: -240px;
	    }
		}

		& .img-scattered-fruit-inside {
			transform: translateX(-100px);
			display: none;

			@media(max-width: $breakpoint-large) {
				display: block;
			}
			@media(max-width: $breakpoint-medium) {
				max-width: calc(100% + 100px);
			}
			@media(max-width: $breakpoint-medium-small) {
				transform: translateX(0px);
				max-width: 100%;
			}

		}
	}

	& .img-scattered-fruit {
    position: absolute;
    top: 120px;
    left: 0;

    @media(max-width: 1900px) {
    	width: 700px;
    }
    @media(max-width: $breakpoint-large) {
    	display: none;
    }
	}

	& .img-rosemary {
		position: absolute;
    right: 0;
    bottom: 100px;

    @media (max-width: $breakpoint-large) {
    	bottom: unset;
    	top: 500px;
    }
    @media (max-width: 800px) {
    	bottom: unset;
    	top: 240px;
    }
    @media (max-width: 600px) {
    	bottom: unset;
	    right: unset;
	    transform: scaleX(-1);
	    top: 30px;
    }
	}
}

.section-6{
	padding: 200px 0 100px 0;
	.deliveries-wrapper{
		display: flex;
		margin-left: -60px;
		.col-1-2{
			padding-left: 60px;
			margin-bottom: 60px;
			width: 50%;
			padding-right: 10px;
			&:not(:first-of-type){
				border-left: 3px solid #d9dadb;
			}
			.delivery-icon{
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
				width: 80px;
				height: 80px;
			}
			h3{
				color: $clr-main;
			}
			@media (max-width: $breakpoint-medium){
			width: 100%;
		}
		}
		@media (max-width: $breakpoint-medium){
			flex-direction: column;
		}
	}
}
 
.footer{
	padding: 100px 0;
	.footer-wrapper{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-left: -60px;
		
		.col-1-5{
			display: inline-block;
			padding-left: 60px;
			width: 20%;
			margin-bottom: 50px;
			@media (max-width: 900px){
				width: 50%;
			}
			@media (max-width: 500px){
				width: 100%;
			}
			a{
				color: #a8a8a8;
				font-weight: 300;
				line-height: 51px;
				font-size: 20px;
				display: block;
				&:hover{
					text-decoration: underline;
				}
			}

		}
		.partners{
			@media (max-width: 900px){
				order: 2;
			}
		}
		.language{
			
			.select-box{
				position: relative;
					.language-dropdown{
						padding: 3px 7px 3px 15px;
						margin-bottom: 25px;
						margin-right: 10px;
						background-color: transparent;
						border: none;
						border-bottom: 1px solid #a8a8a8;
						color: #a8a8a8;
						cursor: pointer;
					option{
						background-color: transparent;
						color: #a8a8a8;
					}
				}
			.sphere{
				position: absolute;
				top: 5px;
				left: 0%;
				padding: 0;
				width: 15px;
			}
			
		}
		
			.social-icons{
				display: flex;
				img{
					padding-right: 10px;
					width: 35px;
					height: 35px;
					transition: all 0.4s ease;
					&:hover{
						transform: scale(1.1);
					}
				}	
			}
			@media (max-width: $breakpoint-medium){
				order: 1;
			}
		}
		.store{
			h5{
				color: #a8a8a8;
				margin-bottom: 25px;
			}
			.img-container{
			display: flex;
			flex-wrap: wrap;
				.appstore{
					display: inline-block;
				}
				img{
					margin-bottom: 25px;
					padding-right: 10px;
					
				}
			}
		}
	}
	.copyright{
		color:#4c4c4c;
		text-transform: capitalize;
	}
}




